{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "babel"
  ],
  "globals": {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false,
    "__API_HOST__" : false,
    "__MAINTAINING_MODE__" : false,
    "React": true,
    "ReactDOM": true,
    "Grid": true,
    "Row": true,
    "Col": true
  },
  "rules": {
    // [kabbi] Looks awful!
    "comma-dangle": 0,
    // [kabbi] Hate those spaces
    "react/jsx-space-before-closing": 0,
    // [kabbi] Don't know what is it for anyway
    "no-param-reassign": [2, {"props": false}],
    // TODO: remove this!
    "react/jsx-no-bind": 0,
    // Ignores capitalized decorators (@Decorator)
    "babel/new-cap": 2,
    // [kabbi] I'm old enough to decide myself
    "quote-props": 0
    // "space-before-function-paren": [2, "never"],
    // "semi": [2, "always"],
    // "react-in-jsx-scope": 0,
    // "jsx-quotes": [2, "prefer-double"]
  }
}
