.bfm-toolbar-container {
  position: relative;
}

.bfm-right-toolbar {
  position: absolute;
  right: 20px;
  top: 5px;
}
.bfm-right-toolbar:after {
  content: "";
  clear: both;
}

.bfm-node-outline {
  fill: white;
  stroke: black;
  stroke-width: 1;
}

.bfm-node-connector {
  fill: white;
  stroke: black;
  stroke-width: 1;
}
.bfm-node-connector:hover {
  fill: #ddd;
}

.bfm-node-separator {
  stroke: black;
  stroke-width: 1;
}

.bfm-node-label {
  cursor: default;
}
